*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.jumbotron{
    background-image: url("./book2.jpg");
    height: 1000px;
}



.banner{
    font-weight: bold;
    font-style: italic;
    text-shadow: 4px 4px #4712da;
}


.product_img{
    height: 160px;
    width: 150px;
}
.product_card{
  height: 320px;
    box-shadow: 10px 10px 10px rgb(171, 169, 169);
    
}


.cart_container{
   height: 100%;
   position: absolute;
   top:5;
   z-index: 999;
   width: 400px;
   right: 0;
   transform: translateX(100%);
   transition: all 0.5s ease;
}

.hide{
    transform: translateX(0%);
}

.main_banner{
  padding-top: 20px;
  position: relative;
}
.product_cart_img{
    width: 60px;
}
.m{
    top: 0;
    left: 0;
}
